@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 99px;
    margin-top: 66px;
    width: 162px;
    height: 83px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button0text0 {
    height: 20px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 51px;
    margin-top: 158px;
    width: 253px;
    height: 154px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button1text1 {
    height: 20px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 203px;
    margin-top: 135px;
    width: 332px;
    height: 170px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button0text0 {
    height: 41px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 104px;
    margin-top: 324px;
    width: 518px;
    height: 315px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button1text1 {
    height: 41px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 243px;
    margin-top: 162px;
    width: 397px;
    height: 204px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button0text0 {
    height: 49px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 125px;
    margin-top: 388px;
    width: 621px;
    height: 378px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button1text1 {
    height: 49px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style0 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 317px;
    margin-top: 211px;
    width: 518px;
    height: 266px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button0text0 {
    height: 64px
  }
  .style1 {
    background-color: #42aed2;
    border-left: 0 solid #000;
    border-right: 0 solid #000;
    border-top: 0 solid #000;
    border-bottom: 0 solid #000;
    box-shadow: 0 1px 5px 1px rgba(0,0,0,.2),0 2px 2px 1px rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.12);
    color: rgba(255,255,255,.85);
    display: flex;
    margin-left: 163px;
    margin-top: 506px;
    width: 810px;
    height: 493px;
    align-items: center;
    flex-direction: column;
    justify-content: center
  }
  .button1text1 {
    height: 64px
  }
}